@import './_reset';
@import './_variables';

html {
	font-size: var(--var-regular-text);
}

body {
	transition: 0.2s ease-out;
	font-family: var(--var-userfont) , sans-serif;
	line-height: var(--var-lineheight);
	color: var(--var-text);
	min-width: 320px;
	position: relative;
	background-color: var(--var-background-main);
}



 .container {
	max-width: 785px;
	margin: 32px auto;
}
