:root {
	--var-background-opacity: rgba(0, 0, 0, 0.7);
	--var-text: white;
	--var-cancel-button: black;
	--var-special-text: rgb(145, 144, 144);
	--var-border: #4D4D4D;

	--var-background-main: #1D1D1D;
	--var-background-card: #262626;
	--var-background-delete-button: #fa7272;
	--var-background-cancel-button: #FFFFFF;
	--var-bcc-gradient: linear-gradient(to left, #333, #3c3c3c 0%, #444444 50%, #333333 100%);

	--var-btn-danger: #FA7272;
	--var-btn-primary: #FFFFFF;

	--var-regular-text: 16px;
	--var-small-text: 14px;
	--var-lineheight: 1.75;
	--var-userfont: 'Inter';
	--var-transition: 0.25s ease-out;
	--var-index: calc(1vw + 1vh);
	--var-border-radius: 12px;
	--var--skeleton-border-radius: 8px;
	--var-skeleton-text-border-radius: 4px;
	--var-radius-style: 0 7px;



}

[light] {
	--var-background-main: #FFFFFF;
	--var-background-card: #918f8f;
	--var-text: black;
}




$breakpoint_hd_plus: 1920px;
$breakpoint_hd: 1440px;
$breakpoint_wide: 1200px;
$breakpoint_desktop: 992px;
$breakpoint_tablet: 768px;
$breakpoint_mobile: 568px;
$breakpoint_mobile-s: 414px;

@mixin hd_plus() {
	@media screen and (max-width: $breakpoint_hd_plus) {
		//1440px --
		@content;
	}
}

@mixin hd() {
	@media screen and (max-width: $breakpoint_hd) {
		//1440px --
		@content;
	}
}

@mixin wide() {
	@media screen and (max-width: $breakpoint_wide) {
		//1200px --
		@content;
	}
}

@mixin desktop() {
	@media screen and (max-width: $breakpoint_desktop) {
		//992px --
		@content;
	}
}

@mixin tablet() {
	@media screen and (max-width: $breakpoint_tablet) {
		//768px --
		@content;
	}
}

@mixin mobile() {
	@media screen and (max-width: $breakpoint_mobile) {
		//568px --
		@content;
	}
}

@mixin mobile-s() {
	@media screen and (max-width: $breakpoint_mobile-s) {
		//414px --
		@content;
	}
}
